/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/* OOCSS nav abstraction */
.nav { }

.nav li {
	float:left;
	margin-bottom:0;
}

.nav a {

}

/* Main nav styles applied to nav classes */
.main-nav {
	margin-bottom:0;
}

.main-nav li {
	height:36px;
	border-right:1px solid #e9af11;
}


.main-nav li a {
	color:#7b6c50;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 9px 18px;
	display: block;
	/* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9af11), to(#fee88d));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #fee88d 3%, #e9af11 100%);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #fee88d 3%, #e9af11 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee88d', endColorstr='#e9af11', GradientType=0 ); 
	zoom:1;
	/* IE 10 */
    background: -ms-linear-gradient(top, #fee88d 3%, #e9af11 100%);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #fee88d 3%, #e9af11 100%);
 
}

.main-nav li.current a, 
.main-nav li a:hover, 
.main-nav li.active a {	
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fee88d), to(#e9af11));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #e9af11 3%, #fee88d 100%);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #e9af11 3%, #fee88d 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9af11', endColorstr='#fee88d', GradientType=0 ); 
    /* IE 10 */
    background: -ms-linear-gradient(top, #e9af11 3%, #fee88d 100%);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #e9af11 3%, #fee88d 100%);
	text-decoration:none;
	
}



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


