/**

19/08/2014 Adam Rifat FCV4



**/

// Dotted underline 
.dotted {
  border-bottom: 1px dotted;
}


.overthrow-enabled .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.overthrow ul {
  min-width:6240px;
  padding: 0;
}


 
.overthrow ul > li 
{
  width:260px;
  float:left;
  list-style-type: none;
}

.overthrow ul > li > .table {
  width:auto;
}

.sidescroll-nextprev {
  overflow: hidden;
  position:relative;
}
.sidescroll-nextprev .sidescroll {
  margin: -50px 35px 0 35px;
  bottom: -50px;
  position: relative;
}

.sidescroll-nextprev .sidescroll-nextprev-links {
  bottom: auto;
  top: 45%;
  position: absolute;
  left: 0;
  width: 100%;
}
.sidescroll-nextprev .sidescroll-nextprev-links a {
  position: absolute;
  background: white;
  opacity: .8;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 4px;
  z-index: 1;
  color:@blue-light;
  border: 1px solid @gray;
  padding: 3px;
}
.sidescroll-nextprev .sidescroll-nextprev-links a:hover,
.sidescroll-nextprev .sidescroll-nextprev-links a:focus {
  opacity: 1;
  text-decoration:none;
}

.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-next {
  right: 0em;
}

.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-next:before { 
  font-family: 'Glyphicons Halflings';
  content:'\e080';
  line-height:1.5;
  font-size:21px;
}

.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-prev {
  left: 0em;
}

.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-prev:before{
  font-family: 'Glyphicons Halflings';
  content:'\e079';
  line-height:1.5;
  font-size:21px;
}

.offscreen {
  position:absolute;
  left:-10000px; 
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.search-field {
  display: inline-block;
}

.view-listing {

  .panel-group
  
  a {     
    text-decoration:none;
    display:block;
    
    &.collapsible:after 
    { 
      font-family: 'Glyphicons Halflings';
      vertical-align:top;
      content:"\e113";
      float:right;
    }

    &.collapsible.collapsed:after {
      content:"\e114";
    }
  }
  



  .nav-tabs {
    > li.active a {
      font-weight:600;
      color:@blue-dark;
    }
  }

  .special-offer { 
   
    background-color: @yellow-lighter;
    border-color: @yellow;
    color: @brown;
    > h4 {
      &:before { 
        font-family: 'Glyphicons Halflings';
        vertical-align:top;
        content:"\e006";
        color: @orange;
      }
    } 
  }
}

.affix {
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
    left:0;
    right:0; 
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);
    border-top:5px solid @red;
    background-color: @taupe-lighter;
}

/* Speech bubble for blockqotes */
.quote, .well .quote {
  .quote(@padding:15px);
}

.navbar-property-navigator, .property-buttons-row {
  margin-bottom: 20px;
}

.slick-slider, 
.carousel-ribbon {
  visibility:hidden;
  margin-bottom:20px;
}

.slick-slider.slick-initialized , 
.carousel-ribbon.slick-initialized {
  visibility:visible;
  transition: visibility 0.3s ease-in;
}


/* Arrows */
.slick-prev,
.slick-next
{
  position: absolute;
  top: 45%;
  background-image: none;
  padding: 15px 10px 10px ;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
  border-radius: 4px;
  cursor:pointer;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  color: #FFF;
   
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
  color: #FFF;
    
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
   
}


.slick-prev
{
}



.slick-next
{
    right: 0px;
}




