/**

19/08/2014 Adam Rifat FCV4



**/

/** 

A/B testing styles for new advertise with us page

**/


.jumbotron.advertise-with-us {
  text-align:center;
  border-radius:0;

  h1 {
    font-size:52px;

  }
  .btn-default {
    background: transparent;
    color:@white;
    border: 2px solid @white;
  }
}

.item-page-advertise {
  background:@gray-lighter;

  .bigger {
    font-size: 16px;
  }

  .nav-tabs {
    text-align:center;
    border:0;
    margin-top:@line-height-computed * 2;
    > li {
      margin-bottom:0;
      float:none;
      display:inline-block;
      text-transform:uppercase;

      > a {
        background:transparent;
        padding:20px;
        border:none;
        color:@gray;
        border: 3px solid transparent;

        &:hover {
          background:transparent;
          color:@gray-darker;
          border: 3px solid @nav-tabs-active-link-hover-border-color;
          border-radius: 40px;
        }
      }
      // Active state, and its :hover to override normal :hover
      &.active > a {
        &,
        &:hover,
          &:focus {
          background:transparent;
          color:@gray-darker;
          border: 3px solid @nav-tabs-active-link-hover-border-color;
          border-radius: 40px;
        }
      }
    }
  }
}

.testimonial blockquote {
  background:@gray-darker;
  border:none;
  margin-bottom:0;
  color:@white;
  padding:@line-height-computed * 2 @line-height-computed * 4;
  > p {
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.4;
    font-size:@font-size-xlarge;
    font-family:District Thin;
    font-style: italic;
    display:inline;

  }
  > footer {
    background:transparent;
    color:@white;
    border:none; 
    font-weight:bold; 
  }
}

.testimonial blockquote:after{
  content:'\201D';
  font-size: 200px;
  text-align:right;
  color:@gray;
  font-style:italic;
  float:right;
  line-height:60px;
}

.panel-pricing {

  background-color:white;
  border-radius:0;
  color:@gray-darker;
  .panel-variant(none; @panel-default-text; white; none);
  margin: @line-height-computed; 
  padding:@line-height-computed;

  @media (min-width: @screen-tablet) {
    margin: @line-height-computed * 2 @line-height-computed * 4 ; 
    padding:@line-height-computed * 2;

  }

  border: none;

  border-top: 5px solid @white;

  > .panel-body {
    font-size:16px;
  }
  > .panel-heading {
    background-color:transparent;
    color:@gray-darker;
    text-align:center;
    > h4{
      font-weight:700;
      font-family: "District Thin";
    }
    > p > span {
      font-size: 35px;
      font-family:District Thin;

    }
  }   
}

.panel-pricing.recommended {
  background-color: #d6dae3;
  box-shadow: 0 10px 15px rgba(0,0,0,.25);  
  border-top: 5px solid @gray-darker;

}

.panel-why-advertise-with-us {
  border-radius:0;
  color:@gray-darker;
  .panel-variant(none; @panel-default-text; white; none);
  border: none;
  margin:0 @line-height-computed * 3;

  > .panel-body {
    padding:0;
    line-height:@line-height-small;
  }

  > .panel-heading {
    background-color:transparent;
    color:@gray-darker;
    padding:0;
    margin-bottom:@line-height-computed;
    span {
      float:left;
      color:@brand-primary;
      font-size:65px;
      margin-top:-10px;
      margin-right:10px;
    }
  }  
}

.why-advertise-with-us {
  background: @white;
  padding-top:@line-height-computed * 2;
  padding-bottom:@line-height-computed * 2;   
}

.why-advertise-with-us-header {
  text-align:center;
  margin-top:@line-height-computed;
  margin-bottom:@line-height-computed * 2 ;
}

.advertise-askus {
  background: @gray-lighter;
  padding: @line-height-computed * 2;
}

// Dotted underline 
.dotted {
  border-bottom: 1px dotted;
}

.overthrow-enabled .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.overthrow ul {
  min-width:6240px;
  padding: 0;
}

.overthrow ul > li 
{
  width:260px;
  float:left;
  list-style-type: none;
}

.overthrow ul > li > .table {
  width:auto;
}

.sidescroll-nextprev {
  overflow: hidden;
  position:relative;
}
.sidescroll-nextprev .sidescroll {
  margin: -50px 35px 0 35px;
  bottom: -50px;
  position: relative;
}

.sidescroll-nextprev .sidescroll-nextprev-links {
  bottom: auto;
  top: 45%;
  position: absolute;
  left: 0;
  width: 100%;
}
.sidescroll-nextprev .sidescroll-nextprev-links a {
  position: absolute;
  background: white;
  opacity: .8;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 4px;
  z-index: 1;
  color:@blue-light;
  border: 1px solid @gray;
  padding: 3px;
}
.sidescroll-nextprev .sidescroll-nextprev-links a:hover,
.sidescroll-nextprev .sidescroll-nextprev-links a:focus {
  opacity: 1;
  text-decoration:none;
}

.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-next {
  right: 0em;
}

.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-next:before { 
  font-family: 'Glyphicons Halflings';
  content:'\e080';
  line-height:1.5;
  font-size:21px;
}

.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-prev {
  left: 0em;
}

.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-prev:before{
  font-family: 'Glyphicons Halflings';
  content:'\e079';
  line-height:1.5;
  font-size:21px;
}

.offscreen {
  position:absolute;
  left:-10000px; 
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.search-field {
  display: inline-block;
}

.view-listing {

  .panel-group

  a {     
    text-decoration:none;
    display:block;

    &.collapsible:after 
      { 
      font-family: 'Glyphicons Halflings';
      vertical-align:top;
      content:"\e113";
      float:right;
    }

    &.collapsible.collapsed:after {
      content:"\e114";
    }
  }




  .nav-tabs {
    > li.active a {
      font-weight:600;
      color:@blue-dark;
    }
  }

  .special-offer { 

    background-color: @yellow-lighter;
    border-color: @yellow;
    color: @brown;
    > h4 {
      &:before { 
        font-family: 'Glyphicons Halflings';
        vertical-align:top;
        content:"\e006";
        color: @orange;
      }
    } 
  }
}

.affix {
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  left:0;
  right:0; 
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);
  border-top:5px solid @red;
  background-color: @taupe-lighter;
}

/* Speech bubble for blockqotes */
.quote, .well .quote {
  .quote(@padding:15px);
}

// Property navigator gubbins

.navbar-property-navigator, .property-buttons-row {
  margin-bottom: 20px;
}

@media (max-width: @screen-tablet) {
  .navbar-property-navigator > ul > li > a {
    padding:10px 10px;
  }    
}


.slick-slider, 
.carousel-ribbon {
  visibility:hidden;
  margin-bottom:20px;
}

.slick-slider.slick-initialized , 
.carousel-ribbon.slick-initialized {
  visibility:visible;
  transition: visibility 0.3s ease-in;
}


/* Arrows */
.slick-prev,
.slick-next
{
  position: absolute;
  top: 45%;
  background-image: none;
  padding: 15px 10px 10px ;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
  border-radius: 4px;
  cursor:pointer;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  color: #FFF;

}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
  color: #FFF;

}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{

}


.slick-prev
{
}



.slick-next
{
  right: 0px;
}

.booking-steps {
  background:  @blue-light;
  font-size:@font-size-large;
  font-family:District Thin; 
  text-transform:uppercase;
  font-weight:700;
  padding:10px 0;
  color:@white;
  margin-bottom:20px;

  p {
    margin:0; 
    opacity:0.6;

  }

  p.active {
    opacity: 1;


  }



  span {
    text-align:center;
    border-radius:15px;
    padding:0 10px;
    margin:0;
    background: @blue-lighter; 

  }
}

.payment-summary {
  margin-bottom:20px;
  > p {
    border-bottom: 1px dotted;
    span {
      float:right;
    }
  }
}


.payment-btn-group div {
    height:134px;
    font-size:16px;
    text-align:center;
    margin-left:-1px;
    background-color:#fff;
    border:1px solid #c8c8c8;
    border-bottom-width:3px;
    margin-bottom:20px;
}

@media (min-width: 768px) { 
	.payment-btn-group div:first-child {
	   border-radius:6px 0 0 6px;
	}
	.payment-btn-group div:last-child {
	   border-radius:0 6px 6px 0;
	}
}


.payment-btn-group div:hover {
    background-color:#f6f6f6;
    cursor:pointer;
}

.payment-btn-group .selected {
    position:relative;
    background-color:#DFF0DE!important;
    color:#000;
    height:133px!important;
    border-top-width:4px;
    border-bottom-width:1px!important;
    border-color:#2B9B1F!important;
}

.payment-btn-group .selected:hover {
    cursor:default;
}

#select-amount .selected .amount {
    padding-top:27px!important;
}

#select-amount div .amount {
    display:block;
    margin-left:-10px;
    padding-top:30px;
    font-size:30px;
    font-weight:600;
    color:#333;
}
@media (max-width: 450px) { 
	#select-amount div .amount {
	   font-size:21px;
	}
}


#select-amount div.selected .amount {
    color:#000;
}

#select-amount div.selected .amount .currency {
    color:#2B9B1F;
}

#select-amount div .label {
    display:block;
    padding-top:30px;
}

#total-amount .amount {
    display:block;
    padding-top:30px;
    font-size:30px;
    font-weight:600;
}

#select-amount div .label {
    display:block;
    padding-top:30px;
    color: black;
}


/*** Paymentsprite ***/
.payment-sprite {
    display:inline-block;
    overflow:hidden;
    background-repeat:no-repeat;
    background-image:url(/images/general/payment-methods.png);
}

.icn-ideal {
    margin-top: 22px;
    width:70px;
    height:60px;
    background-position:0 -499px;
}

.icn-mrcash {
    margin-top: 9px;
    width:112px;
    height:73px;
    background-position:0 -132px;
}

.icn-paypal {
    margin-top: 49px;
    width:120px;
    height:32px;
    background-position:0 -98px;
}

.icn-elv {
    margin-top: 16px;
    width:75px;
    height:66px;
    background-position:0 -431px;
}

.icn-banktransfer {
    margin-top: 35px;
    width:128px;
    height:47px;
    background-position:0 0;
}

.icn-cheque {
    margin-top: 29px;
    width:95px;
    height:53px;
    background-position:0 -207px;
}

.icn-creditcard {
    margin-top: 27px;
    width:91px;
    height:55px;
    background-position:0 -317px;
}

.payment-method .label {
    display:block;
    margin-top: 15px;
    color: black;
}
/*** /Paymentsprite ***/



/*** Sidebar ***/
#stay {
    background-color:#fff;
    font-size:13px;
    border:1px solid #dadada;
    border-radius:6px;
    padding:12px;
}
@media (min-width: 992px) { 
	#stay {
	   width:224px;
	}
}

#stay img {
    margin-bottom:5px;
    border-radius:4px;
}

#stay h3 {
    margin-bottom:5px;
}

#stay #location {
    display:block;
    font-size:14px;
    margin-bottom:22px;
}

#stay .staydata strong {
    display:block;
    margin-top: 15px;
}

#stay .staydata span {
    display:block;
    margin-bottom:3px;
}
/*** /Sidebar ***/

#pay-now {
    margin-top: 60px;
}

.alignc {
    text-align: center;
}

.butn, .butn2, .butn3 {
    display: inline-block;
    zoom: 1;
    overflow: hidden;
    vertical-align: top;
    text-decoration: none!important;
}

.butn {
    background-color: #299A21;
    color: #ffffff!important;
    font-weight: 600;
    border-bottom-style: solid;
    border-bottom-color: #166A14;
}

.butn:hover {
    background-color: #21791B;
    border-bottom-color: #0F400E;
}

.butn-large {
    line-height: 28px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border-bottom-width: 4px;
}



.bookingbox {
    border-top:1px solid #dadada;
}

#costsummary {
    background-color:#fff;
    border:1px solid #dadada;
    border-radius:6px;
    padding:15px 15px 50px;
}

.currency {
    color:#b9b9b9;
}

#bill #travelsum .value .currency {
    font-size:16px;
    color:#b9b9b9;
}

#bill #travelsum .description,#bill .total .description {
    font-size:20px;
}

#bill #travelsum .value .amount {
    font-size:20px;
    text-align:right;
}

#bill .total.grey {
    background-color:#f6f6f6;
    color:#363636;
}

#bill .total.green {
    background-color:#DFF0DE;
    color:#363636;
}

#bill .total.grey .value .currency {
    color:#b9b9b9;
}

#bill .total {
    margin-top: 15px;
    border-radius: 6px;
    font-size: 22px;
    padding: 12px 16px 12px 13px;
    font-weight: 600;
}

.uw-boekingsnr {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 6px;
    padding: 15px 15px 5px;
}