<?xml version="1.0" encoding="utf-8"?>
<config>
	
  <fieldset
    name="permissions"
    label="JCONFIG_PERMISSIONS_LABEL"
    description="JCONFIG_PERMISSIONS_DESC">
    <field
      name="rules"
      type="rules"
      label="JCONFIG_PERMISSIONS_LABEL"
      class="inputbox"
      validate="rules"
      filter="rules"
      component="com_rental"
      section="component"
    />
  </fieldset>
  
  <fieldset
    name="clickatell"
    label="Clickatell"
    description="Username and password details for the clickatell account">
    <field 
      name="username"
      type="text"
      label="Username"
      class="input-medium"
    />
    <field 
      name="password"
      type="password"
      label="Password"
      class="input-medium"
    /> 
    <field 
      name="id"
      type="text"
      label="ID"
      class="input-medium"
    />  
    <field 
      name="debug_number"
      type="text"
      lavel="Debug number"
      class="input-large"
    />
  </fieldset>
  
  <fieldset
    name="basic"
    label="Basic">
    
    <field
      type="menuitem"
      name="termsandconditions"
      label="Link to TandC"
      description="Choose a link to the Terms and conditions (here shown on submit listing for review form)"
      filter="int"      
    />
  </fieldset>
  
  <fieldset
    name="sign-up-costs"
    label="Sign-up cost codes"
    >
    <field 
      name="basic-package"
      type="itemcosts"
      label="Basic package"
      class="input-xxlarge"
      filter="string"
      cat="51">
      <option value="">JSELECT</option>
    </field> 
    <field 
      name="professional-package"
      type="itemcosts"
      label="Unlimited package"
      class="input-xxlarge"
      filter="string"
      cat="51">
      <option value="">JSELECT</option>
    </field>    
    <field 
      name="additional-unit"
      type="itemcosts"
      label="Additional unit"
      class="input-xxlarge"
      filter="string"
      cat="51">
      <option value="">JSELECT</option>
    </field>
    <field 
      name="video"
      type="itemcosts"
      label="Video"
      class="input-xxlarge"
      filter="string"
      cat="51">
      <option value="">JSELECT</option>
    </field>
    <field 
      name="lwl"
      type="itemcosts"
      label="Long winter let"
      class="input-xxlarge"
      filter="string"
      cat="51">
      <option value="">JSELECT</option>
    </field>
    <field 
      name="frtranslation"
      type="itemcosts"
      label="Translation"
      class="input-xxlarge"
      filter="string"
      cat="51">
      <option value="">JSELECT</option>
    </field> 
  </fieldset>
    <fieldset
    name="renewal-costs"
    label="Renewal cost codes"
    addfieldpath="/administrator/components/com_rental/models/fields">
    <field 
      name="basic-package-renewal"
      type="itemcosts"
      label="Basic package"
      class="input-xxlarge"
      filter="string"
      cat="49">
      <option value="">JSELECT</option>
    </field> 
    <field 
      name="professional-package-renewal"
      type="itemcosts"
      label="Unlimited package"
      class="input-xxlarge"
      filter="string"
      cat="49">
      <option value="">JSELECT</option>
    </field>    
    <field 
      name="additional-unit-renewal"
      type="itemcosts"
      label="Additional unit"
      class="input-xxlarge"
      filter="string"
      cat="49">
      <option value="">JSELECT</option>
    </field>
    <field 
      name="video-renewal"
      type="itemcosts"
      label="Video renewal"
      class="input-xxlarge"
      filter="string"
      cat="49">
      <option value="">JSELECT</option>
    </field>
    <field 
      name="lwl-renewal"
      type="itemcosts"
      label="Long winter let"
      class="input-xxlarge"
      filter="string"
      cat="49">
      <option value="">JSELECT</option>
    </field>
    <field 
      name="frtranslation-renewal"
      type="itemcosts"
      label="Translation"
      class="input-xxlarge"
      filter="string"
      cat="49">
      <option value="">JSELECT</option>
    </field> 
    <field 
      name="unlimited-upgrade"
      type="itemcosts"
      label="Unlimited upgrade"
      class="input-xxlarge"
      filter="string"
      cat="49">
      <option value="">JSELECT</option>
    </field> 
  </fieldset>
</config>
