/* 
    Document   : base
    Created on : 16-Aug-2012, 15:43:09
    Author     : adam
    Description:
        Purpose of the stylesheet follows.
*/

.invalid
{
	border-color:red !important;
}

label.invalid
{
	color:red;
}

