<?xml version="1.0" encoding="utf-8"?>
<config>
  <fieldset 
    name="permissions"
    description="JCONFIG_PERMISSIONS_DESC"
    label="JCONFIG_PERMISSIONS_LABEL">
    <field
      name="rules"
      type="rules"
      component="com_fcadmin"
      class="inputbox"
      filter="rules"
      validate="rules"
      label="JCONFIG_PERMISSIONS_LABEL"
      section="component" 
    />
  </fieldset>
  <fieldset
    name="component"
    label="COM_FCADMIN_COMPONENT_LABEL"
    description="COM_FCADMIN_COMPONENT_DESC">
    <field
      name="upload_extensions"
      type="text"
      size="50"
      default="csv,txt,CSV,TXT,XLS"
      label="COM_FCADMIN_FIELD_LEGAL_EXTENSIONS_LABEL"
      description="COM_FCADMIN_FIELD_LEGAL_EXTENSIONS_DESC" 
    />
    <field
      name="upload_maxsize"
      type="text"
      size="50"
      default="10"
      label="COM_FCADMIN_FIELD_MAXIMUM_SIZE_LABEL"
      description="COM_FCADMIN_FIELD_MAXIMUM_SIZE_DESC" 
    />
    <field
      name="upload_mime"
      type="text"
      size="50"
      default="text/plain"
      label="COM_FCADMIN_FIELD_LEGAL_MIME_TYPES_LABEL"
      description="COM_FCADMIN_FIELD_LEGAL_MIME_TYPES_DESC" 
    />
    <field
      name="upload_mime_illegal"
      type="text"
      size="50"
      default="text/html,image/jpeg,image/gif,image/png,image/bmp,application/x-shockwave-flash,application/msword,application/excel,application/pdf,application/powerpoint,text/plain,application/x-zip"
      label="COM_FCADMIN_FIELD_ILLEGAL_MIME_TYPES_LABEL"
      description="COM_FCADMIN_FIELD_ILLEGAL_MIME_TYPES_DESC" 
    />
  
    <field 
      name="users_to_ignore"
      type="text"
      label="COM_FCADMIN_FIELD_USERS_TO_IGNORE_LABEL" 
    />
    <field
      name="notification_from"
      type="user"
      label="COM_FCADMIN_FIELD_NOTIFICATION_USER_FROM"
    />
    <field
      name="cdn"
      type="url"
      label="CDN path"
      class="input-xxlarge"
    />
  </fieldset>
</config>