/* 
	Availability calendar table styles 
*/

table.avCalendar td{
	vertical-align:top;

}

table.avCalendarMonth {
	border-collapse:collapse;
	border: 1px solid #d7e1f2;	
}

table.avCalendarMonth th {
	border-bottom: 1px solid #d7e1f2;
	background-color: #f2f5f1;
	padding:0 2px;
	text-align:center;
}

.month-year {
	background:#d7e1f2;
	margin-bottom:0;
	text-align:center;
	font-weight:bold;
}

table.avCalendarMonth td {
	padding:0 2px;
	text-align:center;
}

table.avCalendarMonth td.unknown {
	color:#d7e1f2;
}

td.unavailable {
	color: #333; 
	background-color: #ccc !important;
	text-decoration:line-through;
}

.key tr {
  margin-bottom:2px;
}

.key td.available, .key td.unavailable {
  padding:2px;
  text-align:center;
  vertical-align:top;
  border:1px solid #D7E1F2;
  width:18px;
}
 


