/*
  Some general styles to make the bedroom fields floated rather than block

*/

.bedrooms li {
  float:left;
}

.bedroom-label {
  clear:left;
}

.bedrooms-select {
  clear:left;
  
}

.hr-spacer {
  border-color:#eee;
}

      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map { height: 500px; }