#wrapper {
	margin: 100px auto;
	width: 50%;
}

.formRow {
	overflow: auto;
	border-bottom: 1px #bcbcbc solid;
	padding: 5px 0;
	max-width: 100%;
}

.formRow label {
	padding: 4px;
	margin: 0 3px 0 0;
	border-right: 1px #bcbcbc solid;
}

/* Drag & Drop file uploading */
.droppable {
	border: #000 5px dashed;
	border-radius: 3px;
	background: #fff;
	color: #000;
	padding: 20px;
	clear: both;
	text-align: center;
  font-size: 150%;
  font-weight: bold;
  margin-bottom:10px;
}

.droppable:hover {
	background: #efefef;
  
}

.uploadList {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.uploadList .uploadItem {
	overflow: hidden;
	border-bottom: #BCBCBC 1px solid;
	margin: 0 20px;
	padding: 3px;
}

.uploadItem span {
	overflow: hidden;
	float: left;
	display: block;
  padding-right:15px;
  
}

a.addInputRow,
a.delInputRow,
.uploadItem a {
	display: inline-block;
	background: url(images/add.png) no-repeat;
	height: 16px;
	width: 16px;
	text-indent: -999px;
}

.uploadItem a {
	float: left;
	display: block;
	padding-left: 20px;
	background-image: url(images/delete.png);
}

a.delInputRow {
	background-image: url(images/delete.png);
}

.progress {
	margin: 5px 0;
	height: 25px;
	border-radius: 3px;
	background: #bbb;
}

.draggable-image-list {
  overflow:hidden;
  width:100%;
  min-height:150px;
}

.draggable-image-list li,.adminformlist.draggable-image-list li {
  float:left;
  margin-bottom:1.5em;
  margin-right:25px;
  min-height:175px;
  border:1px solid #efefef;
  padding:3px;
}

.draggable-image-list img {
  margin:0;
  max-width:210px;
}

.drag-handle {
  display:block;
  padding:6px 0;
  background:#efefef;
}

.handle {
  cursor:move;

}

.image-control-bar {
  clear:left;
  padding:3px 0;
}

.image-control-bar p {
  padding:6px 0;
  clear:both;
}

.sbox-content-ajax a {
  color:white !important;
}

