#wrapper {
	margin: 100px auto;
	width: 50%;
}

#jform_upload_images {
  display:none;
}

.formRow {
	overflow: auto;
	border-bottom: 1px #bcbcbc solid;
	padding: 5px 0;
	max-width: 100%;
}

.formRow label {
	padding: 4px;
	margin: 0 3px 0 0;
	border-right: 1px #bcbcbc solid;
}
 
.image-manager ul {
  margin:0;
  list-style-type: none;
}

.upload-queue-drag, .no-images-in-list
{
  border: 1px dashed #CCCCCC;
  box-shadow: none;
  color: #555555;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 210px;
  margin: 5px;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
  vertical-align: middle;
}

/* Drag & Drop file uploading */
.droppable {
	list-style: none;
	white-space: nowrap;
	margin: 0px;
	vertical-align: middle;
	
	box-shadow: 0 0 2px #333 inset;
    -moz-box-shadow: 0 0 2px #333 inset;
    -webkit-box-shadow: 0 0 1.5px #333 inset;
    background-color: #eee;
    padding: 7px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    
    min-height: 200px;
    overflow: auto;

}

.droppable:hover {
	background: #efefef;
  
}

.uploadList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.droppable .uploadItem {
   background-color: white;
    border: 1px solid #CCCCCC;
    margin: 2px;
    min-height: 20px;
    padding: 1px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
}

.droppable .uploadItem span {
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  z-index: 4;
  margin: 0 2px;
  display: inline-block;
}



a.addInputRow,
a.delInputRow,
.uploadItem a {
	display: inline-block;
	background: url(images/add.png) no-repeat;
	height: 16px;
	width: 16px;
	text-indent: -999px;
}

.uploadItem span.image-queue-delete {
  float:right;
}

.uploadItem a {
	float: left;
	display: block;
	background-image: url(/administrator/templates/fcadmin/images/admin/publish_r.png);
}

a.delInputRow {
	background-image: url(images/delete.png);
}

.progress {
	margin: 5px 0;
	height: 25px;
	border-radius: 3px;
	background: #bbb;
}

.draggable-image-list {
  overflow:hidden;
  width:100%;
  min-height:150px;
  list-style-type: none;
  margin:0;
}

.draggable-image-list li,.adminformlist.draggable-image-list li {
  float:left;
  margin-bottom:1.5em;
  margin-right:25px;
  min-height:175px;
  background:#fff;
}

.draggable-image-list li:hover {
  background:#efefef;
}

.draggable-image-list img {
  margin:0pt auto;
  max-width:210px;
  max-height:150px;
  float:none;
  display:block;
}

.drag-handle {
  display:block;
  padding:6px 0;
}


.handle {
  cursor:move;

}

.image-control-bar {
  clear:left;
  padding:3px 0;
}

.image-control-bar p {
  padding:6px 0;
  clear:both;
}

.sbox-content-ajax a {
  color:white !important;
}

